name: Backend CI/CD

on: 
  push:
    branches:
      - main
    paths:
      - 'backend/**'
      - '.github/workflows/docker-build.yml'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: docker build -t devops-backend ./backend

      - name: Remove old container if exists
        run: docker rm -f devops-backend || true

      - name: Run Docker container
        run: docker run -d --name devops-backend -p 5000:5000 devops-backend

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'v1.35.0'


